<template>
  <div class="apply main">
    <h2>Apply</h2>
 Developer or Software architect needed?<br>
 Apply here!
<vue-form :state="formstate" @submit.prevent="onSubmit" class="applyForms">

<validate>
<label>Company</label>
 <input required name="Company" />
</validate>

<validate>
<label>Name</label>
 <input required name="name" />
 </validate>


<validate>
<label>Address</label>
 <input required name="Address" />
</validate>


<validate>
<label>City</label>
 <input required name="City" />
</validate>


<validate>
<label>City</label>
 <input required name="City" />
</validate>


<validate>
<label>Email</label>
 <input required name="email" />
</validate>


<validate>
<label>Job Title</label>
 <input required name="jobTitle" />
</validate>


<validate>
<label>Message</label>
 <textarea name="message" />
</validate>

<label>Files
        <input type="file" id="files" ref="files" multiple/>
      </label>
  <button class="button">Apply</button>

 </vue-form>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import VueForm from 'vue-form';

@Component
export default class Jobs extends Vue {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .apply{
   display: flex;
   flex-direction: column;
 }

 .applyForms{
   display: flex;
   float: left;
   text-align: left;
   flex-direction: column;
 }

label{
  width: 250px;
}

 .button{
   width: fit-content;
   background: lightblue;
   border-radius: 10px;
   font-size: 1.25em;
   padding: 0.25em 0.5em;
   color: white;
   margin-top: 1em;
   align-self: center;
 }
</style>
