<template>
  <div class="books main">
    <h2>Current reading list</h2>
    <div v-for="b in books" :key="b.name" class="book cardElement">
      <div class="title">{{b.title}}</div>
      <div class="subtitle">{{b.subtitle}}</div>
      <div class="author">{{b.author}}</div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Book } from '@/types'

@Component
export default class Books extends Vue {
  @Prop() books!: Array<Book>;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
 @import '../assets/styles.scss';


.books{
 
}
.book{
}


.title{
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  margin-bottom: 0.25em;
}

.subtitle{
}

.author{
  
}

a{
  color: white;
  @media print {
    color: black;
  }
}
</style>
