<template>
  <div class="educations main">
    <h2>Education</h2>
    <div v-for="j in educations" :key="j.facility" class="education cardElement">
      <div class="name company">{{j.facility}}</div>
        {{j.city}}<br>
        Title: {{j.educationTitle}}<br>
        {{j.from.toLocaleDateString('en-GB', {
          year : 'numeric'
        })}}
        - {{j.to.toLocaleDateString('en-GB', {
          year : 'numeric'
        })}}<br>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Education } from '@/types'

@Component
export default class Educations extends Vue {
  @Prop() educations!: Array<Education>;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.company{
  font-weight: bold;
}
</style>
