<template>
  <div class="jobs main">
    <h2>Jobs</h2>
    <div v-for="j in jobs" :key="j.company" class="job cardElement">
      <div class="name company"><div class="companyName"><a :href="`${j.url}`">{{j.company}}</a></div><div class="duration">
        {{j.from.toLocaleDateString('en-GB', {
          month : 'short',
          year : 'numeric'
        })}}
        - {{j.to.toLocaleDateString('en-GB', {
          month : 'short',
          year : 'numeric'
        })}}</div></div>
        {{j.city}}<br>
        <div class="title">{{j.jobTitle}}</div>
        <div class="quote">“{{j.quote}}”</div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Job } from '@/types'

@Component
export default class Jobs extends Vue {
  @Prop() jobs!: Array<Job>;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
 @import '../assets/styles.scss';


.jobs{
 
}
.job{
}

.duration{
  font-weight: normal;
  font-size: 0.75em;
  text-align: left;
}

.company{
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
}

.companyName{
  width: 150px;
}

.quote{
  font-style: italic;
  font-weight: 100;
  color: $col_D_txt_light;
}

a{
  @media(prefers-color-scheme: light){
      color: $col_L_txt;
  }
  @media(prefers-color-scheme: dark){
  color: white;
  }
  @media print {
    color: black;
  }
}
</style>
