<template>
  <div class="levelBar">
      Level: 
      <div class="levels">
    <div v-for="index in levelMax" :key="index">
        <div class="level" v-bind:class="{filled: index <= level}"></div>
    </div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Level extends Vue {
  @Prop() level!: number;
  @Prop({default: 5}) levelMax!: number;

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

 @import '../assets/styles.scss';

.levelBar{
  margin-bottom: 0.2em;
    margin-top: 0.2em;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.levels{
    display: flex;
    margin-left: 0.5em;
    height: 100%;
    align-self: center;
}
.level{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px $col_D_bg_dark solid;
    margin-right: 5px;
}

.blank{

}

.filled{
  -webkit-print-color-adjust: exact;
    background: $col_D_txt_light;
    @media print {background: $col_D_txt_light;}  
}
</style>
