<template>
  <div class="personal main swing-in-top-fwd">
    <div class="content cardElement">
      <div class="header">
        <div>
          <img alt="Vue logo" src="../assets/me.jpg" class="image">
        </div>
        <div class="personalInfo">
          <div class="name">{{personal.name}}</div>
          <div class="info">
            Software Engineer
            <br>
            Homebase: {{personal.homebase}}
            <br>
            Age: {{personal.age}}
            <br>
            <a :href="`mailto:{{personal.email}}`">{{personal.email}}</a>
            <br>
            <a class="link" :href="`${personal.github}`">
              <img class="icons" src="../assets/github.svg">GitHub
            </a>
            <br>
            <a class="link" :href="`${personal.gitlab}`">
              <img class="icons" src="../assets/gitlab.svg">GitLab
            </a>
            <br>
            <a class="link" :href="`${personal.linkedin}`">
              <img class="icons" src="../assets/linkedin.svg">LinkedIn
            </a>
            <br>
          </div>
        </div>
      </div>
      <div class="summary">{{personal.summary}}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Personal as PersonalInfo } from "@/types";
import { Api } from "@/api";

@Component
export default class Personal extends Vue {
  @Prop() personal!: PersonalInfo;
  currentLocation = "";

  mounted() {
    this.fetchCountry();
  }

  fetchCountry() {
    Api.getLocation()
      .then(c => {
        this.currentLocation = c;
      })
      .catch(error => {
        this.currentLocation = error;
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/styles.scss";

.personal {
  display: flex;
  align-self: left;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 1em;
  align-self: center;
}

.image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: $col_D_txt_light 3px solid;
}

.summary {
  font-weight: 300;
  font-style: normal;
  margin-top: 16px;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-self: center;
  margin-bottom: 0; //Overwrite card element
}

.name {
  font-weight: bold;
  font-weight: 900;
  font-size: 2em;
  @media (max-device-width: 500px) {
    font-size: 1.75em;
    line-height: 1em;
  }
  margin-bottom: 0.25em;
  text-transform: uppercase;
  @media print {
    color: $col_D_txt_light;
  }
  @media (prefers-color-scheme: light) {
    color: $col_L_txt;
  }
  @media (prefers-color-scheme: dark) {
    color: $col_D_txt_dark;
  }
}

.info {
  padding-left: 3px;
  @media (max-device-width: 500px) {
    font-size: 0.8em;
    font-weight: 600;
  }
}
.icons {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.header {
  display: flex;
}

.link {
  @media (prefers-color-scheme: light) {
    color: $col_L_txt;
  }
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
</style>
