<template>
  <div class="skills main">
      <h2>Skills</h2>
      <div class="skillElements">
    <div v-for="s in skills" :key="s.name" class="cardElement skillCard">
    <div class="name">{{s.name}}</div>
    <Level :level="s.level" :levelMax="5"/>
    Years Of Experience: {{s.yearsOfExperience}}<br>
    <div class="keywords">
    <div v-for="k in s.keywords" :key="k" class="keyword">
        {{k}}
        </div>
    </div> 
    </div>
    </div> 
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Job, Skill } from '@/types'
import Level from "./Level.vue"

@Component({components: {
  Level
}})
export default class Skills extends Vue {
  @Prop() skills!: Array<Skill>;

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.name{
  margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 1.2em;
}
.skillElements{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  
  }


.skillCard{
    width: 300px;
    page-break-inside: avoid;
}
</style>
