<template>
  <div class="tools main">
    <h2>Tools</h2>
    <div class="description">Main tools I am currently using</div>
    <div class="toolElements">
      <div v-for="t in tools" :key="t.name" class="keyword">
        <template v-if="t.url">
          <a :href="`${t.url}`"  target="_blank">{{t.name}}</a>
        </template>
<template v-else>{{t.name}}</template>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Tool } from "@/types";

@Component
export default class Tools extends Vue {
  @Prop() tools!: Array<Tool>;
  get getSortedTools() {
    return this.tools.sort(function(a, b) {
  const nameA = a.name.toUpperCase();
  const nameB = b.name.toUpperCase();
  if (nameA < nameB) {
    return -1;
  }
  if (nameA > nameB) {
    return 1;
  }

  return 0;
});
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.name {
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 1.2em;
}
.description{
  text-align: left;
  margin-bottom: 1em;
}
.toolElements {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.content {
  margin-bottom: 0.5em;
}

a{
  color: white;
}
</style>
