<template>
  <div class="works main">
      <h2>Projects</h2>
      <div class="workElements">
        <div v-for="p in projects" :key="p.title" class="cardElement workCard">
          <div class="name">{{p.title}}</div>
            {{p.description}}<br>
             <ul>
             <li v-for="s in p.skills" :key="s">
                {{s}}
            </li>
            </ul>
            <a :href="`${p.url}`" target="_blank" class="link">{{p.urlDisplay}}</a>
            <div class="keywords">
              <div v-for="k in p.keywords" :key="k" class="keyword">
                {{k}}
            </div>
          </div> 
        </div>
    </div> 
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Project } from '@/types'

@Component
export default class Works extends Vue {
  @Prop() projects!: Array<Project>;

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.name{
  margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 1.2em;
}
.skillElements{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
.workCard{
    text-align: justify;
}

.content{
  margin-bottom: 0.5em;
}


</style>
