$col_D_bg: #3d3d3d;
$col_D_bg_light: #E3AFBC;
$col_D_bg_dark: #2D2D2D ;
$col_D_txt_light: #EE4C7C;
$col_D_txt_dark: #e7e8eb;

$col_L_txt: #2D2D2D;


.noPrint{
  @media print {display: none;}
}

h2{
  @media(prefers-color-scheme: light){
    color: $col_L_txt;
  }
  @media(prefers-color-scheme: dark){
    color: $col_D_txt_dark;
  }
    @media print {color: $col_D_txt_light;}
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
}

a{
    color: $col_D_txt_light;
    text-decoration: none;
}

body{
  @media(prefers-color-scheme: light){
    background: #cccccc;
  }
  @media(prefers-color-scheme: dark){
    background: #393939;
  }
    line-height: 130%;
}

.name{
  @media print {color: black;}
}

.main{
  @media(prefers-color-scheme: dark){
        background: $col_D_bg;
  }
        @media(prefers-color-scheme: light){
          background: #f1f1f1;
        }
        padding: 1em;
        @media print {padding-top: 0.05em;}
        margin-bottom: 1em;
}


.cardElement{
  border-left: 2px $col_D_bg_dark solid;
  @media print {border-color: $col_D_txt_light}
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  align-self: center;
  page-break-inside: avoid;
}

.keywords{
    margin-top: 0.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.keyword{
    color: white;
    background: $col_D_txt_light;
    -webkit-print-color-adjust: exact;
    @media print {background: $col_D_txt_light;}  
    border-radius: 4px;
    width: fit-content;
    padding: 3px;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $col_D_bg_dark;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

