<template>
  <div id="app">
    <Portfolio/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Portfolio from "./components/Portfolio.vue";

@Component({
  components: {
    Portfolio
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import "./assets/styles.scss";

#app {
  font-family: "Monserrat", sans-serif;
  text-align: center;

  @media (prefers-color-scheme: light) {
    color: $col_L_txt;
  }

  @media (prefers-color-scheme: dark) {
    color: $col_D_txt_dark;
  }

  margin-top: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gopher {
  position: fixed;
  bottom: -76px;
  height: 170px;
  right: 30px;
}
</style>
